/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&display=swap");
html, body, button, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 10px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #15202A;
  font-size: 1.2rem;
  font-weight: 300;
}

.title {
  margin-top: 8.5rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.title span {
  color: #4C7BF3;
}

.sub-title {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 2.2rem;
  font-weight: 300;
  color: #969696;
}

.sub-title em {
  color: #15202A;
  font-weight: 800;
}

.subscription-form {
  margin: 3.6rem 4.8rem 7rem 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription-form input {
  border: 1px solid #C2D3FF;
  color: #C2D3FF;
}

.subscription-form input::-webkit-input-placeholder {
  color: #C2D3FF;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding-left: 3rem;
}

.subscription-form input:-ms-input-placeholder {
  color: #C2D3FF;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding-left: 3rem;
}

.subscription-form input::-ms-input-placeholder {
  color: #C2D3FF;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding-left: 3rem;
}

.subscription-form input::placeholder {
  color: #C2D3FF;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding-left: 3rem;
}

.subscription-form .form-elem {
  width: 28rem;
  height: 4rem;
  border-radius: 5rem;
}

.subscription-form button {
  margin-top: 1.2rem;
  background-color: #4C7BF3;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 0 5px 10px #C2D3FF;
          box-shadow: 0 5px 10px #C2D3FF;
}

.subscription-form button:hover {
  cursor: pointer;
  width: 29rem;
  height: 5rem;
}

.slack {
  margin: auto;
  background: center/contain no-repeat url("../img/slack.jpg");
  width: 32rem;
  height: 19rem;
}

.widgets {
  margin-top: 12rem;
}

.widgets .widget {
  width: 3rem;
  height: 3rem;
  margin-right: 1.2rem;
}

footer {
  margin: 3.2rem 0;
  color: #969696;
  font-weight: 300;
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */