@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&display=swap');


$very-dark-blue: #15202A;
$blue: #4C7BF3;
$light-blue: #C2D3FF;
$light-gray: #969696;

$primary-font:  'Libre Franklin', sans-serif;