
body {
    font-family: $primary-font;
    font-weight: 400;
    text-align: center;
    color: $very-dark-blue;
    font-size: 1.2rem;
    font-weight: 300;
}

.title {
    margin-top: 8.5rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    span {
        color: $blue;
    }
}

.sub-title {
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: 2.2rem;
    font-weight: 300;
    color: $light-gray;

    em {
        color: $very-dark-blue;
        font-weight: 800;
    }
}

.subscription-form {
    margin: 3.6rem 4.8rem 7rem 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        border: 1px solid $light-blue;
        color: $light-blue;    
    }

    input::placeholder {
        color: $light-blue;
        font-family: $primary-font;
        font-weight: 300;
        font-size: 1.2rem;
        padding-left: 3rem;
    }
    
    .form-elem {
        width: 28rem;
        height: 4rem;
        border-radius: 5rem;
    }

    button {
        margin-top: 1.2rem;
        background-color: $blue;
        color: #fff;
        font-weight: 700;
        box-shadow: 0 5px 10px $light-blue;
    }

    
    
}
.slack {
    margin: auto;
    background: center / contain no-repeat url('../img/slack.jpg');
    width: 32rem;
    height: 19rem;
}

.widgets {

    margin-top: 12rem;
    

    .widget {
        width: 3rem;
        height: 3rem;
        margin-right: 1.2rem;
    }
}

footer {
    margin: 3.2rem 0;
    color: $light-gray;
    font-weight: 300;
    font-size: 1rem;
}