
body {
    font-family: $primary-font;
    font-weight: 400;
    text-align: center;
    color: $very-dark-blue;
    font-size: 12px;
    font-weight: 300;
}

.title {
    margin-top: 85px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    span {
        color: $blue;
    }
}

.sub-title {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 300;
    color: $light-gray;

    em {
        color: $very-dark-blue;
        font-weight: 800;
    }
}

.subscription-form {
    margin: 36px 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        border: 1px solid $light-blue;
        color: $light-blue;    
    }

    input::placeholder {
        color: $light-blue;
        font-family: $primary-font;
        font-weight: 300;
        font-size: 12px;
        padding-left: 30px;
    }
    
    .form-elem {
        outline: none;
        width: 280px;
        height: 40px;
        border-radius: 5rem;
    }

    button {
        margin-top: 12px;
        background-color: $blue;
        color: #fff;
        font-weight: 700;
        box-shadow: 0 5px 10px $light-blue;
    }   

    button:hover {
        cursor: pointer;
        width: 285px;
        height: 45px;
    }

    .error-msg {
        visibility: hidden;
        color: red;
    }

    .error {
        visibility: visible;
        border-color: red;  

      
    }
    .error::placeholder {
        color: black;
    }

    
}
.slack {
    margin: auto;
    background: center / contain no-repeat url('../img/slack.jpg');
    width: 320px;
    height: 190px;
}

.widgets {
    margin-top: 120px;
    
    .widget {
        width: 30px;
        height: 30px;
        margin-right: 12px;
    }
}

footer {
    margin-top: 70px;
    margin-bottom: 32px;
    color: $light-gray;
    font-weight: 300;
    font-size: 10px;
}

@include media-lg {

    body {
        font-size: 20px;
    }

    .title {
        font-size: 32px;
    }

    .sub-title {
        font-size: 48px;
    }

    .subscription-form {
        flex-direction: row;
        justify-content: center;
        align-items: baseline;

        #email {
            margin: 0 10px 0 0;
            width: 420px;
            height: 56px;
        }
    
        #submit {
            margin: 0;
            height: 56px;
            width: 200px;
        }
    }

    .slack {
        width: 567px;
        height: 358px;
    }

    
    
}